<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @uniq.request %>
</p>

<p>
  <strong>Result:</strong>
  <%= @uniq.result %>
</p>

<%= link_to 'Edit', edit_uniq_path(@uniq) %> |
<%= link_to 'Back', uniqs_path %>
